$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/";

$navbar-height: 70px;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
$navbar-default-bg: #f8f8f8;
$navbar-default-color: #34495e;
$navbar-default-link-color: #34495e;
$navbar-default-link-hover-color: #34495e;
$navbar-default-toggle-hover-bg: $navbar-default-bg;
$navbar-default-toggle-icon-bar-bg: $navbar-default-color;
$navbar-default-toggle-border-color: transparent;
$brand-primary: #34495e;
$link-color: #5cb85c;


@import url(https://fonts.googleapis.com/css?family=Open+Sans|Bangers);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-brand {
  font-family: Bangers;
  font-size: 35px;
}

#toast-container {
  z-index: 1049;
}

body.modal-open .modal {
    display: flex !important;
    height: 100%;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}

.input-lg, .btn {
  border-radius: 0px;
}
